<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>recompose</string>
	<key>CFBundleName</key>
	<string>Recompose</string>
	<key>DocSetPlatformFamily</key>
	<string>recompose</string>
	<key>isDashDocset</key>
	<true/>
	<key>DashDocSetFamily</key>
	<string>dashtoc</string>
	<key>dashIndexFilePath</key>
	<string>API.html</string>
	<key>isJavaScriptEnabled</key><false/>
	<key>DashDocSetFallbackURL</key>
	<string>https://github.com/acdlite/recompose/blob/master/docs/API.md</string>
</dict>
</plist>
